<% include partials/header.profile.ejs%>	
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Header Section -->
  <header class="header-section">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 text-center">
            <!-- logo -->
            <a href="" class="site-logo">
              <img src="img/swapLogo.png" alt="">
            </a>
          </div>
          <!-- search bar -->
          <div class="col-lg-6">
            <form class="header-search-form">
              <input class="form-control" type="text" placeholder="Search on Swap">
              <button><i class="flaticon-search"></i></button>
            </form>
          </div>
          <div class="col-xl-4 text-center">
            <div class="user-panel">
              <div class="up-item">
                <div class="shelf">
                  <i class="flaticon-padnote"></i>
                  <span class="badge">0</span>
                </div>
                <a href="/swapList">List</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navigation -->
    <nav class="main-navbar">
      <div class="container">
        <ul class="main-menu">
          <li><a href="/home">HOME</a></li>
          <li><a href="/aboutus">ABOUT US</a></li>
          <li><a href="/category">CATEGORY</a>
            <ul class="sub-menu">
              <li><a href="/womendress">WOMEN</a></li>
              <li><a href="/menshirts">MEN</a></li>
              <li><a href="/babiesclothes">BABIES</a></li>
              <li><a href="/electronics">ELECTRONICS</a></li>
              <li><a href="/others">OTHERS</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Header section end -->

  <div class="page-top-info">
    <div class="container">
      <div class ="page-header">
        <h4 data-shadow='dang!'>PROFILE</h4>
      </div>
    </div>
  </div>



<!-- Profile Area -->
  <!-- Start about section -->
    <section class="about-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 about-left text-center">
                  <div class="member">
                    <img src="<%= profile.imgLink %>" class="img-fluid" alt="">
                    <div class="member-info">
                      <div class="member-info-content">
                        <h4><%= profile.userName %></h4>
                        <div class="social">
                          <a href=""><i class="fa fa-twitter"></i></a>
                          <a href=""><i class="fa fa-facebook"></i></a>
                          <a href=""><i class="fa fa-google-plus"></i></a>
                          <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-5 col-md-5 about-right">
                    <h1><%= profile.firstName + " " + profile.lastName %> </h1></br>
                    <h4>Location: <%= profile.Address %></h4>
                    <h4>Description about you as a trader</h4>
                    <p><%= profile.Description %></p>
                </div>
                <div class="align-self-center mx-auto" id ="addButton">
                  <button type="submit" class="btn btn-success btn-lg text-white" id="submit" data-toggle="modal" data-target="#AddItem">Add Item to be Swapped</button>
                 </div>
            </div>
        </div>
    </section>
    <!-- End about section --> 
    <div class="modal fade" id="AddItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center text-success">
          <h4 class="modal-title">Upload an Item</h4>
          <div class="flaticon-cancel close" data-dismiss="modal"></div>
        </div>
        <div class="modal-body">
              <div class="modal-body">
            <div class="row">
                 <div class="col-md-6 col-md-offset-3">
                      <img src="http://placehold.it/260x340" alt="">
                  </div>
                  <form name= "addItem" class="form" method="GET" class="was-validated">
                    <div class="form-group">
                    <label for="nameofitem">Name of the Item</label>
                   <input type="text" class="form-control" id="nameofitem">
                      <div class="invalid-feedback">Valid.</div>
                      <div class="md-form mb-3">
                     </div>
                  <div class="form-group">
                    <label for="productdescription">Product Description</label>
                    <textarea class="form-control" id="productdescription" rows="5"></textarea>
                      <div class="invalid-feedback">Valid.</div>
                  </div>
                  </div>
                  </form>
              </div>
        </div>       
          </div>
        <div class="modal-footer d-flex justify-content-center">
           <button type="submit" class="btn btn-success btn-lg float-right text-white" id="submit">SUBMIT</button>
        </div>
      </div>
    </div>
  </div>
<!-- Reviews Section -->
    <section id="testimonials">
      <div class="container">

        <header class="section-header text-center">
          <h2><strong>Trader Reviews</strong></h2>
        </header>

        <div class="row justify-content-center">

          <div class="col-lg-8">
            <div class="owl-carousel testimonials-carousel jumbotron hero-slider owl-carousel owl-loaded owl-drag">
              
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-3">
                    <img src="img/users/u1.jpg">
                  </div>

                  <div class="col-lg-9">
                    <h2>Halsey</h2>
                  <h5>Entrepreneur</h5>
                  <p>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  </p>
                  </div>
                </div>
              </div>
    
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-3">
                    <img src="img/users/u2.jpg">
                  </div>

                  <div class="col-lg-9">
                    <h2>Jimmy</h2>
                    <h5>Singer</h5>
                  <p>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  </p>
                  </div>
                </div>
              </div>
    
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-3">
                      <img src="img/users/u3.jpg">
                    </div>

                    <div class="col-lg-9">
                      <h2>Isabelle</h2>
                      <h5>Student</h5>
                    <p>
                      Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    </p>
                  </div>
                </div>
              </div>
    
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-3">
                      <img src="img/users/u4.jpg">
                    </div>

                    <div class="col-lg-9">
                      <h2>Jay Hope</h2>
                      <h5>Rapper</h5>
                    <p>
                      Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of reviews section -->
 <!-- Profile Area End -->
<% include partials/footer.profile.ejs %>